@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    background-color: rgb(26, 32, 41);
}

.title {
    color: hsl(0, 0%, 87%);
    font-family: "Alata", sans-serif;
    font-size: calc(10px + 2vmin);
}

.split {
    height: 100%;
    width: 33%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
}

.middle {
    right:33%
}

/* Control the right side */
.right {
    right: 0;
}
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.droppable {
    width: 200px;
    height: 80vh;
}
  
.draggable {
    font-family: "Montserrat", sans-serif;
    width: 200px;
    height: 50px;
    border-radius: 6%;
    margin-top: 10px;
}

.add-button {
    border: 0;
    background-color: aliceblue;
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 5%;
}

.save {
    outline: none;
    border: none;
    background-color: rgb(116, 255, 111);
}

.cancel {
    outline: none;
    border: none;
    background-color: rgb(255, 90, 78);
}